/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $white_opaque: rgba(250, 250, 250, .3);
 $dark: #1F7972;

a,body,div,span{
  margin: 0;
  padding: 0;
}
body{
  background-color: #333333;
  color: white;
}
.content{
  background-color: $white_opaque;
  border-radius: 7px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
  color: white;
  line-height: 1.5em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0;
  width: 40%;
}

.false{
  color: red;
}
.form {
  text-align: center;
  input[type="text"] {
      width: 50%;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      background: rgba(255,255,255,0.4);
      border: none;
      border-radius: 4px;
      padding: 0.5em 1em;
    }
  input[type="submit"] {
      background: rgba(248,233,250,0.4);
      outline: none;
      border: none;
      height: 20px;
      border-radius: 4px;
      width: 10%;
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      &:hover {
        background: $dark;
        color: white;
      }
    }
    padding: 0 5%;

}
.links{
  display: block;
  padding-top: 10px;
  text-align: center;
  a{
    color: white;
  }
}
.true{
  color: blue;
}
.title {
  color: white;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
}
.result{
  margin-right: auto;
  margin-left: auto;
  padding: 3% 0 3% 0;
  width: 70%;
}